#customize-controls .control-section-epsilon-section-pro .accordion-section-title:hover,
#customize-controls .control-section-epsilon-section-pro .accordion-section-title:focus {
  background-color: #fff;
}

.control-section-epsilon-section-pro .accordion-section-title .button {
  margin-top: -4px;
  font-weight: 400;
  margin-left: 8px;
}

.rtl .control-section-epsilon-section-pro .accordion-section-title .button {
  margin-left: 0;
  margin-right: 8px;
}

.epsilon-full-section-button {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#customize-theme-controls .accordion-section-title.epsilon-pro-section-title {
  background: #008ec2;
  color: #FFF;
}

#customize-theme-controls .accordion-section-title.epsilon-pro-section-title:hover {
  background: #DF4D21;
  color: #FFF;
}